# Entendimento do Projeto e Importação de Dados

In [1]:
#Importei as bibliotecas a serem utilizadas no projeto
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('/content/Electric_Vehicle_Population_Data.csv')

In [3]:
df.info()

df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270262 entries, 0 to 270261
Data columns (total 16 columns):
 #   Column                                             Non-Null Count   Dtype
---  ------                                             --------------   -----
 0   VIN (1-10)                                         270262 non-null  object
 1   County                                             270252 non-null  object
 2   City                                               270252 non-null  object
 3   State                                              270262 non-null  object
 4   Postal Code                                        270252 non-null  float64
 5   Model Year                                         270262 non-null  int64
 6   Make                                               270262 non-null  object
 7   Model                                              270262 non-null  object
 8   Electric Vehicle Type                              270262 non-null  object
 9   Clean Alternative Fuel Vehicle (CAFV) Eligibility  270262 non-null  object
 10  Electric Range                                     270257 non-null  float64
 11  Legislative District                               269613 non-null  float64
 12  DOL Vehicle ID                                     270262 non-null  int64
 13  Vehicle Location                                   270174 non-null  object
 14  Electric Utility                                   270252 non-null  object
 15  2020 Census Tract                                  270252 non-null  float64
dtypes: float64(4), int64(2), object(10)
memory usage: 33.0+ MB

,Postal Code,Model Year,Electric Range,Legislative District,DOL Vehicle ID,2020 Census Tract
count,270252.000000,270262.000000,270257.000000,269613.000000,2.702620e+05,2.702520e+05
mean,98176.713849,2021.964468,40.386332,28.850107,2.441199e+08,5.297261e+10
std,2569.741818,3.053960,79.342202,14.895435,6.430872e+07,1.625614e+09
min,1030.000000,1999.000000,0.000000,1.000000,4.385000e+03,1.001020e+09
25%,98052.000000,2021.000000,0.000000,17.000000,2.194414e+08,5.303301e+10
50%,98133.000000,2023.000000,0.000000,32.000000,2.615051e+08,5.303303e+10
75%,98382.000000,2024.000000,33.000000,42.000000,2.776210e+08,5.305394e+10
max,99577.000000,2026.000000,337.000000,49.000000,4.791150e+08,6.601095e+10

# Limpeza e Preparação dos Dados

In [4]:
#Verificação de duplicatas

df.duplicated().sum()

np.int64(0)

In [5]:
#Remoção de duplicatas

df.drop_duplicates(inplace=True)

In [6]:
df

,VIN (1-10),County,City,State,Postal Code,Model Year,Make,Model,Electric Vehicle Type,Clean Alternative Fuel Vehicle (CAFV) Eligibility,Electric Range,Legislative District,DOL Vehicle ID,Vehicle Location,Electric Utility,2020 Census Tract
0,5YJYGDEE8L,Thurston,Tumwater,WA,98501.0,2020,TESLA,MODEL Y,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,291.0,35.0,124633715,POINT (-122.89165 47.03954),PUGET SOUND ENERGY INC,5.306701e+10
1,5YJXCAE2XJ,Snohomish,Bothell,WA,98021.0,2018,TESLA,MODEL X,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,238.0,1.0,474826075,POINT (-122.18384 47.8031),PUGET SOUND ENERGY INC,5.306105e+10
2,5YJ3E1EBXK,King,Kent,WA,98031.0,2019,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,220.0,47.0,280307233,POINT (-122.17743 47.41185),PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),5.303303e+10
3,7SAYGDEE4T,King,Issaquah,WA,98027.0,2026,TESLA,MODEL Y,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0.0,41.0,280786565,POINT (-122.03439 47.5301),PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),5.303302e+10
4,WAUUPBFF9G,King,Seattle,WA,98103.0,2016,AUDI,A3,Plug-in Hybrid Electric Vehicle (PHEV),Not eligible due to low battery range,16.0,43.0,198988891,POINT (-122.35436 47.67596),CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),5.303300e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270257,1C4RJXN60R,Pierce,Joint Base Lewis Mcchord,WA,98433.0,2024,JEEP,WRANGLER,Plug-in Hybrid Electric Vehicle (PHEV),Not eligible due to low battery range,21.0,28.0,266021122,POINT (-122.60761 47.08798),PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),5.305307e+10
270258,1C4JJXR66N,Mason,Hoodsport,WA,98548.0,2022,JEEP,WRANGLER,Plug-in Hybrid Electric Vehicle (PHEV),Not eligible due to low battery range,22.0,35.0,282482938,POINT (-123.14135 47.40639),BONNEVILLE POWER ADMINISTRATION||CITY OF TACOM...,5.304596e+10
270259,7SAYGDEEXP,Pierce,Tacoma,WA,98406.0,2023,TESLA,MODEL Y,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0.0,27.0,228485085,POINT (-122.52082 47.26887),BONNEVILLE POWER ADMINISTRATION||CITY OF TACOM...,5.305306e+10
270260,5YJYGDEE2M,Snohomish,Bothell,WA,98021.0,2021,TESLA,MODEL Y,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0.0,1.0,282699217,POINT (-122.18384 47.8031),PUGET SOUND ENERGY INC,5.306105e+10
270261,JN1BF0BA5P,Chelan,Wenatchee,WA,98801.0,2023,NISSAN,ARIYA HATCHBACK,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0.0,12.0,261475224,POINT (-120.30521 47.41493),PUD NO 1 OF CHELAN COUNTY,5.300796e+10

In [7]:
#Verificar se possui duplicatas

df.duplicated().sum()

np.int64(0)

In [8]:
#Verificar possíveis valores ausentes/nulos no dataset

df.isnull().sum()

VIN (1-10)                                             0
County                                                10
City                                                  10
State                                                  0
Postal Code                                           10
Model Year                                             0
Make                                                   0
Model                                                  0
Electric Vehicle Type                                  0
Clean Alternative Fuel Vehicle (CAFV) Eligibility      0
Electric Range                                         5
Legislative District                                 649
DOL Vehicle ID                                         0
Vehicle Location                                      88
Electric Utility                                      10
2020 Census Tract                                     10
dtype: int64

In [9]:
#Verificação de NaN

df.isna().sum()

VIN (1-10)                                             0
County                                                10
City                                                  10
State                                                  0
Postal Code                                           10
Model Year                                             0
Make                                                   0
Model                                                  0
Electric Vehicle Type                                  0
Clean Alternative Fuel Vehicle (CAFV) Eligibility      0
Electric Range                                         5
Legislative District                                 649
DOL Vehicle ID                                         0
Vehicle Location                                      88
Electric Utility                                      10
2020 Census Tract                                     10
dtype: int64

In [10]:
#Tratamento das colunas com valores nulos/ausentes

#Substituição de valores por colunas
df.fillna({'County': 'Unknown'}, inplace=True)
df.fillna({'City': 'Unknown'}, inplace=True)
df.fillna({'State': 'Unknown'}, inplace=True)
df.fillna({'Postal Code': 0}, inplace=True)
df.fillna({'Model Year': 0}, inplace=True)
df.fillna({'Make': 'Unknow'}, inplace=True)
df.fillna({'Model': 'Unknow'}, inplace=True)
df.fillna({'Electric Vehicle Type': 'Unknown'}, inplace=True)
df.fillna({'Clean Alternative Fuel Vehicle (CAFV) Eligibility': 'Unknown'}, inplace=True)
df.fillna({'Electric Range': 0}, inplace=True)
df.fillna({'Legislative District': 'Unknown'}, inplace=True)
df.fillna({'DOL Vehicle ID': 'Unknown'}, inplace=True)
df.fillna({'Vehicle Location': 'Unknown'},inplace=True)
df.fillna({'Electric Utility': 'Unknown'}, inplace=True)
df.fillna({'2020 Census Tract': 0}, inplace=True)

In [11]:
#Verificar se ainda restam valores nulos/ausentes nas colunas

df.isna().sum()

VIN (1-10)                                           0
County                                               0
City                                                 0
State                                                0
Postal Code                                          0
Model Year                                           0
Make                                                 0
Model                                                0
Electric Vehicle Type                                0
Clean Alternative Fuel Vehicle (CAFV) Eligibility    0
Electric Range                                       0
Legislative District                                 0
DOL Vehicle ID                                       0
Vehicle Location                                     0
Electric Utility                                     0
2020 Census Tract                                    0
dtype: int64

In [12]:
df

,VIN (1-10),County,City,State,Postal Code,Model Year,Make,Model,Electric Vehicle Type,Clean Alternative Fuel Vehicle (CAFV) Eligibility,Electric Range,Legislative District,DOL Vehicle ID,Vehicle Location,Electric Utility,2020 Census Tract
0,5YJYGDEE8L,Thurston,Tumwater,WA,98501.0,2020,TESLA,MODEL Y,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,291.0,35.0,124633715,POINT (-122.89165 47.03954),PUGET SOUND ENERGY INC,5.306701e+10
1,5YJXCAE2XJ,Snohomish,Bothell,WA,98021.0,2018,TESLA,MODEL X,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,238.0,1.0,474826075,POINT (-122.18384 47.8031),PUGET SOUND ENERGY INC,5.306105e+10
2,5YJ3E1EBXK,King,Kent,WA,98031.0,2019,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,220.0,47.0,280307233,POINT (-122.17743 47.41185),PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),5.303303e+10
3,7SAYGDEE4T,King,Issaquah,WA,98027.0,2026,TESLA,MODEL Y,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0.0,41.0,280786565,POINT (-122.03439 47.5301),PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),5.303302e+10
4,WAUUPBFF9G,King,Seattle,WA,98103.0,2016,AUDI,A3,Plug-in Hybrid Electric Vehicle (PHEV),Not eligible due to low battery range,16.0,43.0,198988891,POINT (-122.35436 47.67596),CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),5.303300e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270257,1C4RJXN60R,Pierce,Joint Base Lewis Mcchord,WA,98433.0,2024,JEEP,WRANGLER,Plug-in Hybrid Electric Vehicle (PHEV),Not eligible due to low battery range,21.0,28.0,266021122,POINT (-122.60761 47.08798),PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),5.305307e+10
270258,1C4JJXR66N,Mason,Hoodsport,WA,98548.0,2022,JEEP,WRANGLER,Plug-in Hybrid Electric Vehicle (PHEV),Not eligible due to low battery range,22.0,35.0,282482938,POINT (-123.14135 47.40639),BONNEVILLE POWER ADMINISTRATION||CITY OF TACOM...,5.304596e+10
270259,7SAYGDEEXP,Pierce,Tacoma,WA,98406.0,2023,TESLA,MODEL Y,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0.0,27.0,228485085,POINT (-122.52082 47.26887),BONNEVILLE POWER ADMINISTRATION||CITY OF TACOM...,5.305306e+10
270260,5YJYGDEE2M,Snohomish,Bothell,WA,98021.0,2021,TESLA,MODEL Y,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0.0,1.0,282699217,POINT (-122.18384 47.8031),PUGET SOUND ENERGY INC,5.306105e+10
270261,JN1BF0BA5P,Chelan,Wenatchee,WA,98801.0,2023,NISSAN,ARIYA HATCHBACK,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0.0,12.0,261475224,POINT (-120.30521 47.41493),PUD NO 1 OF CHELAN COUNTY,5.300796e+10

In [25]:
# Base de dados limpa

df.to_csv('df_clean.csv')

# Análise Exploratória dos Dados

In [13]:
# Contagem de carros eletricos por Cidade

count_city = df['City'].value_counts()
count_city

City
Seattle        42125
Bellevue       13203
Vancouver      10047
Redmond         9321
Bothell         8908
               ...
Monrovia           1
Marina             1
Fort Bragg         1
Enid               1
Beavercreek        1
Name: count, Length: 865, dtype: int64

In [14]:
# Contagem de carros eletricos por Estado

count_state = df['State'].value_counts()
count_state

State
WA    269613
CA       150
VA        77
MD        42
TX        40
FL        38
CO        27
OR        24
IL        20
AZ        17
NY        16
GA        13
NV        13
MO        12
NJ        12
MA        11
NC        11
MI         9
AL         8
KS         7
CT         7
ID         7
PA         7
SC         6
DC         5
OH         5
KY         5
LA         5
BC         4
RI         4
UT         4
NH         4
WI         4
TN         4
NE         4
NM         3
HI         3
IN         3
QC         2
AE         2
WY         2
AK         2
MS         2
AP         1
DE         1
AB         1
GU         1
AR         1
MN         1
ME         1
OK         1
Name: count, dtype: int64

In [15]:
# Contagem de carros por Modelo

model_count = df['Model'].value_counts()
model_count

Model
MODEL Y        57335
MODEL 3        37413
LEAF           13503
MODEL S         7758
BOLT EV         7708
               ...
CONTINENTAL        2
SL-CLASS           2
GRANCABRIO         1
ONE                1
RCV                1
Name: count, Length: 183, dtype: int64

In [24]:
# Contagem de carros por fabricante

make_count = df['Make'].value_counts()
make_count

# Exportar para CSSV

make_count.to_csv('make_count.csv')

make_count

Make
TESLA                     111049
CHEVROLET                  19032
NISSAN                     15963
FORD                       14819
KIA                        13470
TOYOTA                     11159
BMW                        11036
HYUNDAI                     9651
RIVIAN                      8475
VOLKSWAGEN                  7358
VOLVO                       7021
JEEP                        6856
AUDI                        5788
CHRYSLER                    3882
MERCEDES-BENZ               3222
HONDA                       3019
SUBARU                      2570
CADILLAC                    2149
PORSCHE                     1916
POLESTAR                    1558
MAZDA                       1487
LEXUS                       1277
MITSUBISHI                  1247
MINI                        1201
FIAT                         856
DODGE                        834
LUCID                        609
GMC                          508
GENESIS                      485
LINCOLN                      429
ACURA                        352
SMART                        232
LAND ROVER                   214
JAGUAR                       180
FISKER                       149
ALFA ROMEO                   100
BRIGHTDROP                    46
LAMBORGHINI                   21
RAM                           10
BENTLEY                        8
TH!NK                          6
ROLLS-ROYCE                    6
VINFAST                        4
AZURE DYNAMICS                 4
WHEEGO ELECTRIC CARS           2
MASERATI                       1
MULLEN AUTOMOTIVE INC.         1
Name: count, dtype: int64

In [17]:
# Contagem de tipo de utilitario eletrico

type_eletric = df['Electric Utility'].value_counts()
type_eletric

Electric Utility
PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA)                                               96367
PUGET SOUND ENERGY INC                                                                      56613
CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA)                                                45214
BONNEVILLE POWER ADMINISTRATION||PUD NO 1 OF CLARK COUNTY - (WA)                            16148
BONNEVILLE POWER ADMINISTRATION||CITY OF TACOMA - (WA)||PENINSULA LIGHT COMPANY             12318
                                                                                            ...
BONNEVILLE POWER ADMINISTRATION||PUD NO 1 OF ASOTIN COUNTY                                      1
CITY OF SEATTLE - (WA)                                                                          1
BONNEVILLE POWER ADMINISTRATION||PENINSULA LIGHT COMPANY                                        1
BONNEVILLE POWER ADMINISTRATION||PUD NO 1 OF ASOTIN COUNTY||INLAND POWER & LIGHT COMPANY        1
BONNEVILLE POWER ADMINISTRATION||PUD NO 1 OF CLALLAM COUNTY|PUD NO 1 OF JEFFERSON COUNTY        1
Name: count, Length: 78, dtype: int64

In [18]:
# Relação entre modelo de carro e ano de modelo

model_year = df.groupby('Model')['Model Year'].value_counts()
model_year

Model  Model Year
330E   2023          133
       2017           89
       2018           84
       2021           80
       2022           80
                    ...
XM     2024           21
       2025           11
ZDX    2024          352
ZEVO   2023           33
       2024           13
Name: count, Length: 678, dtype: int64

In [19]:
# Relação entre fabricante e modelos

make_model = df.groupby('Make')['Model'].value_counts()
make_model

# Covertendo para csv

make_model.to_csv('make_model.csv')

make_model

Make                  Model
ACURA                 ZDX        352
ALFA ROMEO            TONALE     100
AUDI                  Q5 E      1318
                      E-TRON    1197
                      Q4        1064
                                ...
VOLVO                 EX90       187
                      V60        101
                      EX40        50
                      S90         40
WHEEGO ELECTRIC CARS  WHEEGO       2
Name: count, Length: 183, dtype: int64

In [20]:
# Autonomia maxima de cada modelo

max_range = df.groupby('Model')['Electric Range'].max()
max_range

# Convertendo para csv

max_range.to_csv('max_range.csv')

max_range

Model
330E    22.0
500     87.0
500E     0.0
530E    21.0
550E    40.0
        ...
XC60    35.0
XC90    35.0
XM      31.0
ZDX      0.0
ZEVO     0.0
Name: Electric Range, Length: 183, dtype: float64

In [21]:
# Media de autonomia por modelo de carro

model_mean = df.groupby('Model')['Electric Range'].mean()
model_mean.round(2)

Model
330E    18.44
500     85.57
500E     0.00
530E    16.23
550E    35.33
        ...
XC60    28.69
XC90    25.67
XM      31.00
ZDX      0.00
ZEVO     0.00
Name: Electric Range, Length: 183, dtype: float64